[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}
flask = "*"
gunicorn = "*"
requests = "*"
lxml = "*"
cssselect = "*"


[dev-packages]

pytest = "*"
"html2text" = "*"
twine = "*"


[requires]

python_version = "3.6"
